<!DOCTYPE HTML>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72676825-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-72676825-1');
    </script>
    
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        }
      });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

    <title>{% block title %}{{title}}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/reset.min.css">
    <link rel="stylesheet" type="text/css" href="/site.min.css">    
    <link rel="stylesheet" type="text/css" href="/container.min.css">
    <link rel="stylesheet" type="text/css" href="/menu.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <div class="ui container">
      <div id="menu" class="ui menu">
        <div class="header item">
          {{title}}
        </div>
        <div class="right menu">
          <a class="item" href="/">
            About
          </a>
          <a class="item" href="/articles.html">
            Articles
          </a>
        </div>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
          © 2018
          <a href="/">{{user}}</a> Powered by
          <a href="https://github.com/qwordy/HPmaker/">HPmaker</a>
        </div>
    </div>
  </body>
</html>
