<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}{{title}}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/reset.min.css">
    <link rel="stylesheet" type="text/css" href="/site.min.css">    
    <link rel="stylesheet" type="text/css" href="/container.min.css">
    <link rel="stylesheet" type="text/css" href="/menu.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <div class="ui container">
      <div id="menu" class="ui menu">
        <div class="header item">
          {{title}}
        </div>
        <div class="right menu">
          <a class="item" href="/">
            About
          </a>
          <a class="item" href="/articles.html">
            Articles
          </a>
        </div>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
          © 2018
          <a href="/">{{user}}</a> Powered by
          <a href="https://github.com/qwordy/HPmaker/">HPmaker</a>
        </div>
    </div>
  </body>
</html>