@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 933px
  }
}

#menu {
  margin: 1.5em 0em
}

#content {
  margin: 1.5em 1em
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal
}

img {
  width: 100%
}

html, body {
  font-size: 16px
}

#footer {
  padding-top: 0.5em;
  margin-top: 1.5em;
  color: #777;
  border-top: 1px solid #ddd;
}